<div class="container">
  <h1>Your Info</h1>
  <p ng-if="!myInfoCtrl.customerDetails">
    Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a>
  </p>
  <p ng-if="myInfoCtrl.customerDetails">
    <strong>First Name:</strong> {{ myInfoCtrl.customerDetails.firstName }}<br />
    <strong>Last Name:</strong> {{ myInfoCtrl.customerDetails.lastName }}<br />
    <strong>EMail:</strong> {{ myInfoCtrl.customerDetails.email }}<br />
    <strong>Phone Number:</strong> {{ myInfoCtrl.customerDetails.phoneNumber }}<br /><br />
    <strong>Favourite Meal Name:</strong> {{ myInfoCtrl.customerDetails.mealName }}<br />
    <strong>Favourite Meal Description:</strong> {{ myInfoCtrl.customerDetails.mealDescription }}<br /><br />
    <img ng-src="{{ myInfoCtrl.ApiPath }}/images/{{ myInfoCtrl.customerDetails.favItem }}.jpg" alt="{{ myInfoCtrl.customerDetails.mealName }}">
  </p>
</div>
